<div class="calcsWrapperG">
    <div class="calcsWrapper">
        <h1>Ingrese su salario</h1>
        <p><b>Salario: </b></p><input type="number" (keyup)="pressKey($event)" placeholder="$$$">
        
        <p>Salario base: <b style="color: green;">${{salario.toFixed(2)}}</b></p>
        <hr>
        <p>Descuento de renta: <b style="color: rgb(219, 32, 32);">${{renta.toFixed(2)}}</b></p>
        <hr>
        <p>Descuento afp: <b style="color: rgb(219, 32, 32);">${{afp.toFixed(2)}}</b></p>
        <hr>
        <p>Descuento Isss: <b style="color: rgb(219, 32, 32);">${{isss.toFixed(2)}}</b></p>
        <h6>=</h6>
        <p>Salario liquido a cancelar: <b style="color: rgb(0, 128, 255);">${{salarioFinal.toFixed(2)}}</b></p>
    </div>
</div>
